/*
Theme Name: Mr Peacocks Deli
Version: 1.0
Author: Noel Lynagh
Author URI: http://noellynagh.com/
License: None
*/

body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #000;
	background-color: #f5f5d2;
	background-image: url(images/textured_background.png);
	background-repeat: repeat;
}

#wrapper{
overflow: auto;
background: url(images/main-body-background.png) bottom left no-repeat fixed;
}

.clear{
	clear: both;
}


/* ~~this fixed width container surrounds the other divs~~ */
.container {
	width: 1024px; /* the auto value on the sides, coupled with the width, centers the layout */
	margin: 0 auto;
	padding-top: 30px;
	height: 714px;	
}

/* right hand side */

#right_container{
	margin-left: 372px;
	border: 0px solid blue;
}



.waitress_logo {
	float: right;
	padding-top: 25px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}



.content {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
	padding-right: 50px;
	line-height: 40px;
	color: #07706E;
	font-weight: normal;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 100px;
	margin-bottom: 30px;
	margin-top: 0px;
	
}

.content .aligncenter{
	margin:0 auto;
	text-align: center;
}

.content .wp-caption-text{
	font-style: italic;
	font-size: 14px;
}

/* end right hand side */

/* start footer */

.footer {
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
	background-color: #CCC49F;
	background-image: url(images/footer_background.png);
	background-repeat: repeat;
	color: #F7F5D3;
	position: absolute;
    bottom: 0px;
    width: 100%;
    height: 25px;
    font-size: 11px;
}

.footer p{
margin: 0px;
padding: 5px;
}

a:link {
	color: #603f09;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #603F09;
}


a.jucandolink{
	color: #F5F5D1; 
}

a.jucandolink:hover{
	color: #B2D235;
}

a:hover {
	color: #B2D235;
}
a:active {
	color: #AFD033;
}

/* end footer */


/* start navigation */

.navigation {
	float: none;
	clear: both;
	font-size: 27px;
	color: #603f09;
	text-transform: uppercase;
	border: 0px solid red;
}

.navigation ul{
	width: 100%;
}

.navigation  ul a
{
	text-decoration: none;
}

.navigation ul, .navigation ul ul, .navigation ul li
{
margin: 0px;
padding: 0px;
list-style-type: none;
}

.navigation ul>li { float: left; width: 30%; text-align: center; border: 0px solid blue; }

.navigation ul>li.first-page-item{text-align: left;}

.navigation ul>li.last-page-item{text-align: right;}

.navigation ul li.current_page_item a
{
	color: #B2D235;
}

.navigation ul.children { display: none; }
.navigation ul.children li { float: none; width: 170px; text-align: center; border: 1px solid red; }

.navigation ul.children li a
{
padding: 0px;
margin: 0px;
}

.navigation ul li:hover ul.children, .navigation ul li.current_page_parent ul.children
{
display: none;
position: absolute;
font-size: 12px;
padding-top: 0px;
}



.navigation ul li:hover ul.children li a, .navigation ul li.current_page_parent ul.children li a
{
display: none;
border: none;
padding: 2px;
}


/* end navigation */
